name: CMake build & test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libgtest-dev cmake build-essential

    - name: Build gtest (Ubuntu ships sources only)
      run: |
        cd /usr/src/gtest
        sudo cmake .
        sudo make
        sudo cp lib/*.a /usr/lib

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DENABLE_ASAN=OFF -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DENABLE_BENCHMARK=ON

    - name: Build all targets
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --parallel

    - name: Run unit tests
      working-directory: ${{github.workspace}}/build
      run: ctest --output-on-failure -C ${{env.BUILD_TYPE}}
