name: CMake build & test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          cmake \
          build-essential \
          libgtest-dev \
          ocl-icd-opencl-dev \
          opencl-headers \
          pocl-opencl-icd

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DENABLE_ASAN=OFF -DENABLE_BENCHMARK=OFF

    - name: Build all targets
      run: cmake --build build --config ${{env.BUILD_TYPE}} --parallel $(nproc)

    - name: Run unit tests
      run: |
        cd build
        ctest --output-on-failure